sudo: false

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack
  
before_install:
# Download and unpack the stack executable
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

script:
  - stack --no-terminal --skip-ghc-check init
  - stack --no-terminal --skip-ghc-check test --coverage
  - stack --no-terminal --skip-ghc-check build

#install:
#  - travis_wait stack --no-terminal --skip-ghc-check setup
#  - travis_wait stack --no-terminal --skip-ghc-check test --only-snapshot
